#titulo{
    text-align: center;
    font-size: 50px;
    font-style: oblique;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border: inset;
    background-color: cornsilk;
    border-color: antiquewhite;
}
.columna{
    margin: 10px;
    float: left;
    padding: 5px;
}
.fila::after{
    content: "";
    clear: both;
    display: table;
}
.texto1{
    color: green;
    font-size: 25px;
    font-style: italic;
}
.texto2{
    color: green;
    font-size: 25px;
    font-style: italic;
}
.texto3{
   color: green;
    font-size: 25px;
    font-style: italic;
}
.texto4{
    color: green;
    font-size: 25px;
    font-style: italic;
}
.texto5{
   color: green;
    font-size: 25px;
    font-style: italic;
}
.texto6{
    color: green;
    font-size: 25px;
    font-style: italic;
}
.texto7{
   color: green;
    font-size: 25px;
    font-style: italic;
}
.texto8{
    color: green;
    font-size: 25px;
    font-style: italic;
}
.texto9{
    color: green;
    font-size: 25px;
    font-style: italic;
}
.texto10{
    color: green;
    font-size: 25px;
    font-style: italic;
}
.texto11{
    color: green;
    font-size: 25px;
    font-style: italic;
}
.texto12{
    color: green;
    font-size: 25px;
    font-style: italic;
}
.texto13{
   color: green;
    font-size: 25px;
    font-style: italic;
}
.texto14{
    color: green;
    font-size: 25px;
    font-style: italic;
}
.texto15{
    color: green;
    font-size: 25px;
    font-style: italic;
}
.texto16{
    color: green;
    font-size: 25px;
    font-style: italic;
}